:root {
    --day-hue: #65b0fa;
    --day-hue-op: #3e96ee26;
    --day-highlight: #65b0fa77;
    --night-hue: #1b4368cc;
    --night-hue-op: #1b436899;
    --night-highlight: #1b436877;
    --rain-hue: #4b6177;
    --rain-hue-op: #23393b33;
    --rain-highlight: #23393b55;
    --storm-hue: #4b6177;
    --storm-hue-op: #23333b33;
    --storm-highlight: #23353b55;
    --snow-hue: #518daf;
    --snow-hue-op: #518daf33;
    --snow-highlight: #518daf33;
    --overcast-hue: #1b4368bb;
    --overcast-hue-op: #1b436877;
    --overcast-highlight: #1b436833;
}

/* PAGE ELEMENTS */

* {
    box-sizing: border-box;
}

#app {
    color:#fff;
    transition: 100ms;
    background-attachment: fixed;
    background-size: cover;
    background-position: center bottom;
}

/* #app.day {
    background-image: linear-gradient(-35deg, var(--day-blue-op), 50%, var(--day-highlight)), url(./images/day_sky.jpg);
}
#app.day #navWrapper {
    background-color:  var(--day-blue-op) !important;
}

#app.night {
    background-image: linear-gradient(-35deg, var(--night-blue-op), 50%, var(--night-highlight)), url(./images/night_sky.jpg);
}
#app.night #navWrapper {
    background-color: var(--night-blue) !important;
}

#app.rain #videoOverlay {
    background-image: linear-gradient(-35deg, var(--rain-blue-op), 70%, var(--rain-highlight));
}
#app.rain #navWrapper {
    background-color: var(--rain-blue-op) !important;
}

#app.storm #videoOverlay {
    background-image: linear-gradient(-35deg, var(--rain-blue-op), 70%, var(--rain-highlight));
}
#app.storm #navWrapper {
    background-color: var(--rain-blue-op) !important;
} */

div#app {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

#app div#video-bg-wrapper {
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
div#videoOverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-attachment: fixed;
    background-size: cover;
    background-position: center bottom;
}

#app > div {
    position: relative;
}

#video-bg-wrapper video {object-fit: cover;height: 100%;width: 100%;}

.navbar {
    background-color: transparent !important;
}
div#inner_body {
    max-height: calc(100vh - 7.8em);
    overflow-y: auto;
    flex-grow: 1;
}

.max-width {
    margin: 0 auto;
    max-width: 800px;
    width: 100%;
}

.padded-sides {
    padding-left: .6em;
    padding-right: .6em;
}
.padded-topbottom {
    padding-top: .6em;
    padding-bottom: .6em;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    align-items: start;
}

#footer {
    width:100%;
    background-color: #00000022;
    text-align: center;
    padding: 15px;
}
#footerContent {
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

a {
    color: #fff;
}



/* UNIT ELEMENTS */

body[data-unit="fahr"] label[for="units"]::after {
    content: '℉'
}
body[data-unit="cels"] label[for="units"]::after {
    content: '℃'
}


.temp-pair {
    display: inline-flex;
    align-items: start;
    cursor: pointer;
    user-select: none;
}
.temp-pair::after {
    font-size: .5em;
    padding-top: .4em;
}
body[data-unit="cels"] .temp-pair::after {
    content: '℃';
}
body[data-unit="fahr"] .temp-pair::after {
    content: '℉';
}

.humid-num::after {
    content: '%';
}

body[data-unit="fahr"] .wind-num::after {
    content: 'mph';
    font-size: .8em;
}
body[data-unit="cels"] .wind-num::after {
    content: 'm/s';
    font-size: .8em;
}
.wind-arr {
    width: 1.5em;
    height: 1.5em;
    position: relative;
    margin: 0 .2em;
}
.wind-deg {
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;
    left:0;
    background-image: url(./images/arrow_up.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 80%;
}




/* WIDGETS */
.widget {
    padding: .6em;
    border-radius: 5px;
    width: 100%;
    margin-bottom: 2em;
}

.widget-header h5 {
    float: left;
}
.widget-header .btn {
    float: right;
}
.widget-body {
    clear: both;
}





/* WEATHER ELEMENTS */

.description {
    text-transform: capitalize;
}
.icon {
    filter: drop-shadow(-2px 4px 2px #00000055);
    width: 1.5em;
    height: 1.5em;
    position: relative;
}

div#current_weather {
    box-shadow: 0 1em 1em -1em #00000033;
}

#cur_conditions .icon {
    font-size: 4em;
}
.icon-secondary {
    position: absolute;
    margin-top: -1.5em;
    right: 0;
    font-size: 0.8em;
}

#current_weather .description {
    font-size: 1.5em;
}

div#current_weather .summary {
    align-items: center;
    justify-content: space-between;
}

div#cur_conditions {
    align-items: center;
}


div#cur_temp {
    text-align: right;
    font-size: 3em;
}

#details_toggle {
    font-size: .8em;
    user-select: none;
    cursor: pointer;
    width: 100%;
    text-align: center;
}
#details_toggle::before {
    content: 'Hide Details';
}
#details_toggle.collapsed::before {
    content: 'See Details';
}

div#details_table > div {
    min-width: 200px;
    flex-grow: 1;
    margin: 1em .5em 0;
    display: flex;
    border-bottom: 1px solid #ffffff55;
}

div#details_table > div > span:first-child {
    flex-grow: 1;
}




/* Forecast Elements */
#hours_container {
    max-width: 100%;
    overflow-x: auto;
    white-space: nowrap;
}
.forecast-hour {
    text-align: center;
    padding: .6em;
    margin: 1em;
    display: inline-block;
}

.forecast-hour .icon {
    font-size: 3em;
    margin: 0 auto;
}
.forecast-hour .day {
    margin-right: 1em;
    text-transform: capitalize;
}



/*  PREVIEW ELEMENTS*/
div#previews {
    background-color: #00000033;
}

#previews_container {
    width: 100%;
}

.city_preview {
    user-select: none;
    cursor: pointer;
    display: flex;
    width: 100%;
}
.city_preview:hover {
    background-color: #ffffff0c;
}
.city_preview:not(:last-child) {
    border-bottom: 1px solid #fff3;
}

.city_preview td {
    flex-grow: 1;
    padding: .5em;
}

.city_preview .icon {
    max-width: 2em;
}
.city_preview .city {
    text-transform: capitalize;
    font-weight: bold;
}
.city_preview td.cur-for-time {
    text-align: right;
}
.city_preview .humid-num, .city_preview .temp-pair {
    text-align: right;
    max-width: 5em;
    justify-content: flex-end;
}


/* SCROLLBARS */
/* width */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */
*:hover::-webkit-scrollbar-thumb {
    background: #ffffff55;
}

/* Handle on hover */
*:hover::-webkit-scrollbar-thumb:hover {
    background: #ffffff88;
}


